.categoryItem {
  width: 280px;
  height: 460px;
}

.categoryItemImg {
  width: 260px;
  height: 260px;
  background-image: url(../../img/pizza001.png);
}

.categoryHeading {
  font-size: 20px;
  text-align: center;
}
